package com.elog.fs.admin.${cfg.packageName}.export;
import org.elogside.modules.utils.DateUtils;
import com.elog.fs.admin.codeproduct.entity.CodeProduct;
import com.fengmi.ddj.common.export.ExportRowCreator;
import java.util.Date;


public class ${entity}DTO extends ${entity} implements ExportRowCreator {

	@Override
	public String[] createRow() {
		return new String[]{DateUtils.formatDate(getCreateDate()),DateUtils.formatDate(getModifyDate()),#foreach($field in ${table.fields})get${field.capitalName}().toString()#if($foreach.hasNext),#end#end
		};
	}
}
